.landing-page-container {
    background-color: black;
    color: white;
    height: 100vh;
}
.landing_banner {
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
        linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
        url("../../assets/banner2.jpg") !important;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
}
.bg-black {
    background: black;
}
.text-white {
    color: white;
}

.landing-sec2 {
    background-color: black;

    padding: 40px 0;
}

.landing-div2 {
    color: #d6d6d6;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px !important;
}

/* Banner Content */
.landing_banner_left_box img {
    max-height: 400px;
    width: auto;
    margin: auto;
}

.landing_banner_left_box p {
    color: #e2e2e2;
    text-align: center;
    font-size: 58px;
    font-weight: 700;
    line-height: 150%;
}

.landing_banner_right_box {
    padding: 30px 20px;
}

.landing_banner_right_box_title {
    color: white;
    font-size: 38px;
    font-weight: 700;
    line-height: 120%;
}

.landing_banner_right_box_sub_title {
    color: white;
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
}

.landing_banner_register_btn {
    background-color: #e50000;
    border: none;
    width: 200px;
    height: 50px;
    font-weight: bold;
    margin-top: 20px;
}

.landing-banner-1 {
    background-image: url(../../Assets/Images/left-black.jpg);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 30px 50px;
}

.landing_banner_left_title {
    color: white;
    font-size: 38px;
    font-weight: 700;
    line-height: 120%;
}

.landing_banner_left_content {
    color: white;
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
}

.landing_banner_2 {
    background-image: url(../../Assets/Images/right-black.jpg);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 30px 50px;
}

.landing_banner_right_title {
    color: white;
    font-size: 38px;
    font-weight: 700;
    line-height: 120%;
    text-align: right;
}

.landing_banner_right_content {
    color: white;
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
    text-align: right;
}

.landing-now-showing-container {
    margin-left: 40px !important;
    display: flex;
    justify-content: flex-start;

    flex-wrap: wrap;
}

.carousel-control-prev,
.carousel-control-next {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 50%;
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 2rem;
    color: white;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.carousel-control-prev,
.carousel-control-next {
    transition: background-color 0.3s ease;
}

.BootstrapCardimg {
    background-color: black;
    border-radius: 25px;
    border: none;
}

.card img {
    width: 100%;
    height: 299px;
    object-fit: cover;
    border-radius: 25px;
}

.landing-sec3 {
    background-color: black;
    padding: 40px 0;
}

.key_features {
    text-align: center;
    color: #d6d6d6;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.All_You_Need {
    text-align: center;
    color: #d6d6d6;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cardSec3_Cards {
    background-color: #1d1c1c;
    color: #fff;
    border: 1px solid white;
    border-radius: 25px;
    height: auto;
    flex: "1 1 22%";
    padding: 1%;
}

.Sec3_Cards_header {
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #1d1c1c;
}

.Sec3_Cards_Sec_header {
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #1d1c1c;
}

.Sec3_card_body {
    color: #d6d6d6;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #1d1c1c;
    margin-top: 1%;
}

.landing_sec_4 {
    background-color: black;
    padding: 40px 0;
}

.landing_sec_4_head {
    color: #d6d6d6;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px !important;
}

.landing_sec_5 {
    background-color: black;
    padding: 40px 0;
}

.streamboximg {
    height: 50px;
}

.streambox {
    color: #fff;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
